<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="position:relative;">
    <div class="jumbotron new-jumbotron"
         style="background-image:url('../../static/article/images/cover0.jpg');background-position: 50% 30%">
        <div class="container text-center cover-desc">
            <p>
                <font size="12" face="华文行楷" color="#fff">走的路多了，闭上眼都是风景</font><br>
            </p>
        </div>
    </div>
</div>
</body>
</html>