<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-xl navbar-light t-navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand  text-white">我的博客</a>
    <div class="collapse navbar-collapse" id="navigation">
        {#   文章分类      #}
        <ul class="navbar-nav mr-auto pull-left">
            <li class="nav-item ">
                <a class="nav-link text-white" target="_blank" href="" id="about" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="fa fa-home"></i>
                </a>
            </li>
        </ul>
    </div>

</nav>
</body>
</html>