<!DOCTYPE html>
{% extends "article/base.html" %} {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
{% block title %}注册{% endblock %}
{% block main %}
    <div class="container">
        <form class="form-signin bg-white" method="post" action="{% url 'user:register' %}" id="register-form">
            {% csrf_token %}
            <div class="text-center mb-4">
                <img class="mb-2" src="{% static 'user/images/favicon.png' %}" alt="" width="100" height="100">
                <h1 class="h3 mb-3 font-weight-normal">欢迎注册本博客</h1>
                <div class="rollContainer">
                    <p class="rollBlock">友情提示：请使用邮箱完成站点注册，谢谢！</p>
                </div>
                <div class="login_error">
                    {% for k,v in register_form.errors.items %}
                        {{ v }}
                    {% endfor %}
                </div>
            </div>
                <!-- 账号 -->
                <div class="form-label-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
            <div class="form-label-group">
                    <label for="email">邮箱</label>
                    <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-label-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" name="password" required>

            </div>
            <div class="form-label-group">
                    <label for="password2">确认密码</label>
                    <input type="password" class="form-control" id="password2" name="password2" required>
            </div>

            <small class="form-text text-muted my-3">
                注册完毕，激活邮件将会发送到您的邮箱，还望查收。
            </small>
            <button class="btn btn-lg btn-success btn-block" type="submit">注册</button>
            {% csrf_token %}
        </form>
        <div class="clearfix " style="width: 100%;max-width: 420px;padding: 15px;margin: auto;">
            <p class="float-left"><a class="btn btn-outline-success my-2 my-sm-0 ml-lg-0" href="{% url 'article:list' %}">回到首页</a></p>
            <p class="float-right">
                <a class="btn btn-outline-success my-2 my-sm-0 ml-lg-0" href="{% url 'user:login' %}">登录</a>
                <a class="btn btn-outline-success my-2 my-sm-0 ml-lg-0" href="{% url 'user:forget_pwd' %}">忘记密码</a>
            </p>
        </div>
    </div>
{% endblock %}
</body>
</html>